@charset "UTF-8";
/* CSS Document */

.btn {
	display: flex;
	justify-content: center;
	
}

.boton1 {
	margin: 20px;
	background-color: blue;
	border-radius:50%;
	padding:20px;
	font-size: 20px;
	cursor: pointer;

}
.boton2{
	margin:20px;
	background-color: green;
	padding: 15px 32px;
    text-align: center;
	font-size: 20px;
	cursor: pointer;
	border-radius: 8px;
		
}

.boton3{
	margin: 20px;
     background-color: transparent;
     color: black;
     border: 2px solid;
	 font-size: 20px;
	 padding: 20px;
	 transition-duration: 0.2s;
	cursor:pointer;
	
}

.boton3:hover {
	 background-color: black;
	color:white;
	}



.boton4 {
	margin: 20px;
	background-color: red;
	padding: 20px;
	font-size: 20px;
	cursor: pointer;
	transition-duration: 0.4s;
   
	

}

.boton4:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	
	
}